<div id="home">
    <p id="titreHome">Derniers résultats</p>
    <p style="font-weight: bold;">{{listeGrandPrixDate.GPNOM}} du {{formatDate listeGrandPrixDate.GPDATE 'DD MMMM YYYY' }}</p>
    Mise à jour le : {{formatDate listeGrandPrixDate.GPDATEMAJ 'DD MMMM YYYY' }} <br>
    <a href="/detailGrandPrix/{{listeGrandPrixDate.GPNUM}}">Voir les résultats</a>
</div>

