<p>Dernier résultats</p>
{{listeGrandPrixDate.GPNOM}} du {{formatDate listeGrandPrixDate.GPDATE 'DD MMMM YYYY' }}  <br>
Mise à jour le : {{formatDate listeGrandPrixDate.GPDATEMAJ 'DD MMMM YYYY' }} <br>
<a href="/detailGrandPrix/{{listeGrandPrixDate.GPNUM}}">Voir les résultats</a>
